<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let taque"> {{taque.nombre}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="precio">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let taque"> {{taque.precio}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="calidad">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let taque"> {{taque.precio}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="comentario">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let taque"> {{taque.precio}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="pagina_fb">
      <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
      <mat-cell *matCellDef="let taque"> {{taque.precio}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

  </mat-table>


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
  <google-map
  (mapClick)="click($event)"
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options">
  <map-marker
  *ngFor="let marker of markers"
  [position]="marker.position"
  [label]="marker.label"
  [title]="marker.title"
  [options]="marker.options"
>
</map-marker>

  </google-map>
  <button (click)="zoomIn()">Zoom in</button>
 <button (click)="zoomOut()">Zoom out</button>
 <button (click)="addMarker()">Zoom out</button>
 <mat-card-content>
  <p>
    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
    bred for hunting.
  </p>
</mat-card-content>
<mat-card-actions>
  <button mat-button>LIKE</button>
  <button mat-button>SHARE</button>
</mat-card-actions>
</mat-card>

 <mat-star-rating [rating]="rating"
  [starCount]="starCount"
  [color]="starColor"
  (ratingUpdated)="onRatingChanged($event)">
</mat-star-rating>
</body>
</html>
